.dos {
  height: calc(100vh - 98px);
}

.iframe-container iframe {
    width: 640px;
    height: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
  }

@media (max-width: 1120px) {
  .instructions {
    display: none; /* Show on larger screens */
  }
}

@media (max-width: 690px) {
  .iframe-container iframe {
    width: 95vw;
    height: 90vh;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
  }
}