.label {
  margin: 0px 20px;
  display: inline-block;
  width: 80px;
}

.result {
  overflow: auto;
  max-height: calc(100vh - 286.25px);
}

.signature {
  margin: 5px 0;
}

.evmole {
  color: #006400
}

.openchain {
  color: #1A237E
}

hr {
  border: 0.5px dashed rgb(178, 178, 178);
}