.col {
    flex: 1;
    width: calc(100%/3);
}

textarea {
    width: 90%;
    height: 400px;
    resize: none;
    border-radius: 5px;
    font-size: 10px;
}

p {
  font-size: 12px;
}

.btn {
    position: absolute;
    right: 47px;
    margin-top: 5px;
    border-radius: 5px;
    align-items: right;
    font-size: 13px;
}