.date-result {
  border: 1px #ccc solid;
  padding: 20px;
  width: 100%;
}

.label-result {
  font-weight: 600;
  width: 150px;
  display: inline-block;
}

@media (max-width: 800px) {
  .date-result {
    padding: 5px;
    font-size: 12px;
  }

  .label-result {
    width: 80px;
  }
}

.ant-picker-panel-container {
    .ant-picker-presets {
        min-height: 25rem !important;
    }
    @media (max-width: 800px) {
        overflow: scroll !important;
        height: 400px;
        .ant-picker-panel-layout {
            flex-direction: column !important;

            .ant-picker-presets {
                max-width: 100% !important;
                min-height: 10rem !important;
            }

            .ant-picker-panels,
            .ant-picker-datetime-panel {
                flex-direction: column !important;
            }
        }
    }
}